#
# Exynos multimedia device drivers
#
config VIDEO_EXYNOS
        bool "Exynos Multimedia Devices"
        depends on ARCH_EXYNOS
        default y
        help
          This is a representative exynos multimedia device.

config VIDEO_SAMSUNG_R7
	bool "Galaxy R7 camera support"
	depends on SOC_EXYNOS9810
	help
	  Include the fimc-is2 driver for Galaxy R7

if VIDEO_EXYNOS
        source "drivers/media/platform/exynos/scaler/Kconfig"
        source "drivers/media/platform/exynos/g2d1shot/Kconfig"
        source "drivers/media/platform/exynos/mfc/Kconfig"
        source "drivers/media/platform/exynos/smfc/Kconfig"
        if VIDEO_SAMSUNG_R7
                source "drivers/media/platform/exynos/fimc-is2-r7/Kconfig"
        endif
        if !VIDEO_SAMSUNG_R7
                source "drivers/media/platform/exynos/fimc-is2/Kconfig"
        endif
        source "drivers/media/platform/exynos/camera-pp/Kconfig"
        source "drivers/media/platform/exynos/repeater/Kconfig"
        source "drivers/media/platform/exynos/tsmux/Kconfig"
        source "drivers/media/platform/exynos/astc/Kconfig"		
endif

config MEDIA_EXYNOS
        bool
        depends on VIDEO_EXYNOS
        default y
        help
          Compile mdev to use exynos media device driver.
